<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>mysecondwebapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ServletC</servlet-name>
		<servlet-class>com.mysecondwebapp.servlets.ServletC</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletC</servlet-name>
		<url-pattern>/ServletC</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>location</param-name>
		<param-value>Pune</param-value>
	</context-param>

	<servlet>
		<servlet-name>ServletD</servlet-name>
		<servlet-class>com.mysecondwebapp.servlets.ServletD</servlet-class>
		<init-param>
			<param-name>classroom</param-name>
			<param-value>6</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletD</servlet-name>
		<url-pattern>/ServletD</url-pattern>
	</servlet-mapping>

  


</web-app>