*{
	font-size: 24px;
	font-family: sans-serif;
	margin: 5px;
}
table,tr,th,td {
	border: 1px solid grey;
	border-collapse: collapse;
	width: 800px;
	padding:5px;
}

a:hover {
	background-color: yellow;
}

tr:hover {
	background-color: grey;
}

.err{
	color:red;
}